body,html,main
    height: 100%;
    width: 100%;
    font-family: "source sans 3";

body
    margin: 0;

main
    display: flex;
    flex-direction: row;

.input-zone
    flex: 2.7;

.output-zone
    flex: 1;