.button1
    padding: 10px 10px
    border: 1px solid #adadad
    border-radius: 10px
    display: flex
    justify-content: center
    font-weight: 600
    background: #e7e7e7
    color: #313131
    cursor: pointer
    user-select: none

    &:hover
        background: #f4f4f4
        border-color: #dedede

    &:active
        background: #dedede