.output-box
    border-left: 3px solid #545454
    padding: 0 10px
    margin-bottom: 12px

    .output-string
        padding: 5px 0
        font-size: 15px

    .copied-indicator
        font-size: 12px
        color: #6ccf96
        margin-top: 3px
        margin-left: 4px